<!-- Подключение базового шаблона -->
{% extends 'base.html' %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card mt-5">
            <div class="card-header">
                Профиль пользователя
            </div>
            <div class="card-body">
                <h5 class="card-title">Имя пользователя: {{ author.username }}</h5>
                <p class="card-text">Количество публикаций: {{ posts|length }}</p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <h2 class="mb-3">Публикации</h2>

        {% for post in posts %}
        <!-- Карточка одоного поста пользователя -->
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.text }}</p>
                    <p class="card-text text-secondary"> Дата публикации: {{ post.at_publish }}</p>
                </div>
            </div>
        <!-- таких карточек много... -->
        {% endfor %}
    </div>
</div>
{% endblock %}
